# base
python-dotenv
ipykernel
# formatting, linting
ruff
# printing
icecream
rich
# structure
pydantic
Jinja2
# data processing and i/o
appdirs
numpy
pandas
openpyxl
pyyaml
hydra-core
coloredlogs
fsspec
# networking
requests
